{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans "Vaishnava Study App" %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'study_app/css/main.css' %}">
</head>
<body>
    {% include 'study_app/includes/navbar.html' %}
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    
    {% include 'study_app/includes/footer.html' %}
    
    <script src="{% static 'study_app/js/main.js' %}"></script>
</body>
</html>
